{{define "login"}}
{{template "cabecera"}}
                <form method="post">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" id="username" name="username"><br>

                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password"><br>

                    <label for="mfa">Código OTP:</label>
                    <input type="number" id="mfa" name="mfa"><br>

                    <input type="submit" value="Iniciar sesión">
                </form>
{{template "pie"}}
{{end}}